<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CMSVuaThoSuite">

    <parameter name="browserType" value="chrome"/>
    <parameter name="webURL" value="https://cms-vuatho-clone.vercel.app/test-management"></parameter>

    <test name="SignInTest">
        <classes>
<!--            <class name="testcases.InputOTPTest"/>-->
<!--            <class name="testcases.SearchServiceTest"/>-->
            <class name="testcases.WalletTest">
                <methods>
<!--                    <include name="TC_CheckBalanceWallet()" />-->
<!--                    <include name="TC_DepositWalletSucess()" />-->
<!--                    <include name="TC_DepositWalletFail_noMoney_noSource()" />-->
<!--                    <include name="TC_DepositWalletFail" />-->
<!--                    <include name="TC_DepositFilter()" />-->
                </methods>
            </class>
        </classes>
    </test>
</suite>